<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243827342197-f58sv2d9gc6alfq5gojae32b9cn1mj3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243827342197-f58sv2d9gc6alfq5gojae32b9cn1mj3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBN0-A7EAl5hYxui5YpR3MI_dW4965IYNo</string>
	<key>GCM_SENDER_ID</key>
	<string>243827342197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emanpanel</string>
	<key>PROJECT_ID</key>
	<string>eman-smart-panel</string>
	<key>STORAGE_BUCKET</key>
	<string>eman-smart-panel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243827342197:ios:3e1e774792ee60ed42313c</string>
	<key>DATABASE_URL</key>
	<string>https://eman-smart-panel-default-rtdb.firebaseio.com</string>
</dict>
</plist>